@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

* {
  font-family: 'Poppins', sans-serif;
  padding: 0px;
  margin: 0px;
}

header{
  height: 10vh;
  width: 100%;
  background-color: rgb(204, 170, 220);
  display: flex;
  align-items: center;
  justify-content: center;
}

main{
  height: 90vh;
  width: 100%;
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper{
  height: 100%;
  width: 80%;
  /* background-color:lightslategray; */
}

main .wrapper{
  background-color: rgb(143, 143, 143);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}